---
let instagram   = "https://www.instagram.com/persiagym/";
let telegram    = "https://t.me/persiagym_news";
let address     = "https://goo.gl/maps/t5d4J3rej92Drshi9";
let email       = "contact@persiagym.com";
let phone       = "+982122063869";
---

<footer id="footer" class="relative flex py-24 justify-center bg-black" dir="rtl">
    <div class="justify-center items-center md:grid-cols-4 grid-rows-2">
        <div class="mt-10 grid grid-cols-2 md:grid-cols-4 md:gap-8">
            <div class="md:grid gap-10 mr-8">
                <div class="mt-10 md:mt-0">
                    <h3>ساعات کاری</h3>
                    <ul class="mt-6 space-y-4 space-x-6 md:space-x-0">
                        <li>
                            <p>شنبه ـ چهارشنبه: ۲۳:۰۰ - ۰۵:۰۰ </p>
                        </li>
                        <li>
                            <p>پنج شنبه: ۲۳:۰۰ - ۱۰:۰۰</p>
                        </li>
                        <li>
                            <p>جمعه: تعطیل</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid gap-10 mr-8">
                <div class="mt-10 md:mt-0">
                    <h3>برقراری تماس با ما</h3>
                    <ul class="contact-us">
                        <li class="mx-3 md:mx-0">
                            <a href=`mailto:${email}`>
                                <i class="icon fa-solid fa-envelope w-15 h-15"></i>
                            </a>
                        </li>
                        <li class="mx-3 md:mx-0">
                            <a href=`tel:${phone}`>
                                <i class="icon w-15 h-15 fa-solid fa-phone"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid gap-10 mr-8">
                <div class="mt-10 md:mt-0">
                    <h3>ما را دنبال کنید</h3>
                    <ul class="follow-us">
                        <li class="mx-3 md:mx-0">
                            <a href={telegram}>
                                <i class="icon w-15 h-15 fab fa-telegram"></i>
                            </a>
                        </li>
                        <li class="mx-3 md:mx-0">
                            <a href={instagram}>
                                <i class="icon w-15 h-15 fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="md:grid gap-10 mr-8">
                <div class="md:mt-0 mt-10">
                    <h3>ما را پیدا کنید</h3>
                    <ul class="find-us mt-6">
                        <li>
                            <a href={address}>
                                <i class="icon w-15 h-15 fa-solid fa-location-dot"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="flex justify-center items-center bg-black border-2 border-black border-t-neutral-600">
    <div class="text-md text-neutral-400 my-6">
        <p>
            &copy 2023 PersiaGym, All Rights Reserved
        </p>
    </div>
</div>


<style>
    h3 {
        @apply text-lg font-semibold text-white;
    }

    p {
       @apply text-white;
    }

    .contact-us,
    .follow-us,
    .find-us ul {
        @apply mt-6 md:space-y-4 md:space-x-0 md:block flex space-x-6;
    }

    .icon {
        @apply bg-white text-black hover:text-neutral-500 rounded-full p-3 duration-500;
    }
</style>
